.CardContainer{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    gap: 50px;
    margin:auto;
    width: 90%;
    animation: dropdown 1s ease-in-out;
}
.Card{
    display: flex;
    flex-direction: column;
    margin:auto;
    border-radius: 30px;
    align-items: center;
    width: 100%;
    height: 500px;
    box-shadow: 0px 0px 7px 3px hsla(0, 0%, 100%, 0.595);
    transition: all 0.4s ease-in-out;
    border: 2px solid rgb(255, 255, 255);
}
.Card:hover{
    box-shadow: 0px 0px 10px 7px hsl(0, 0%, 100%);
    
}
.Card .head{
    font-size: 2em;
}
.Card img{
    margin:30px;
    height: 200px;
    width: 300px;
    border: 2px solid white;
}

.Card .details{
    font-size: 1.3em;
    line-height: 1.6em;
    text-align: start;
}

.contact{
    color:white;
    background-color: rgb(32, 0, 148);
    height: 3em;
    margin: 40px;
    width: 10em;
    font-size: 1.3em;
    border-radius: 10px;
}