.Navbar{
    position: relative;
    display:flex;
    list-style: none;
    width: 80%;
    margin: 30px auto;
    z-index: 1000;
    font-size: 2em;
    height: 10vh;    
    font-family: "Asap", sans-serif;
    font-weight: 600;
    align-items: center;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.079);
    backdrop-filter:blur(10px) ;
    justify-content: space-evenly;
}
@media (max-width:500px){
    .Navbar{
        font-size:1.3em;
    }
}
