.BarContainer{
    width: 100%;
    display: flex;
}   
.BarContainer ul{
    width: 100%;
    display:flex;
    font-size: 1em;
    justify-content:space-around ;
    list-style: none;
}
.tablet{
    min-width: 5em;
    text-align: center;
    padding-right: 5px;
    padding-left: 5px;
    height: auto;
    background-color: #0000008e;
    border-radius:20px;
    cursor: pointer;
}
